body {
    background-image: url(../sunrise.jpg);
    background-size: cover;
}

.weatherForecastingTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    table-layout: fixed;
    width: 50%;
}

.tableData {
    border-collapse: collapse;
    border:1px solid blue;
}

caption {  
    font-size: 2em;
    margin-bottom: 1em;
    color: rgb(0, 83, 208);
}

th {
    color: darkblue;
    text-overflow:initial;
}

table td {
    border: 1px solid blue;
}

button {
    background-color: orange;
    height: 2.5em;
    border-style:ridge;
}

button:hover {
    background-color: darkorange;
}