.weatherForecastingTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    table-layout: fixed;
    width: 50%;
}

.tableData {
    border-collapse: collapse;
    border:1px solid blue;
}

table td {
    border: 1px solid blue;
}

caption {  
    font-size: 2em;
    margin-bottom: 1em;
    color: rgb(231, 131, 0);
}

label {
}