.headline {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatherInformation {
    display: grid;
    grid-template-columns: 30px repeat(7, 1fr);
    grid-template-rows: 30px repeat(7, 1fr);
    gap: 1px;
    border: 1px solid darkblue;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: orange;
}

.gridRow {
    display: grid;
    grid-template-columns: auto 1fr;
}